.vs/

Danishevskii.Nitka.DataAccess/obj/
Danishevskii.Nitka.DataContext/obj/
Danishevskii.Nitka.Entity/obj/
Danishevskii.Nitka.Model/bin/
Danishevskii.Nitka.Tests/bin/
Danishevskii.Nitka.Dto/bin/
Danishevskii.Nitka.Mapping/bin/
Danishevskii.Nitka.Web/bin/

Danishevskii.Nitka.DataAccess/bin/
Danishevskii.Nitka.DataContext/bin/
Danishevskii.Nitka.Entity/bin/
Danishevskii.Nitka.Model/bin/
Danishevskii.Nitka.Tests/bin/
Danishevskii.Nitka.Dto/bin/
Danishevskii.Nitka.Mapping/bin/
Danishevskii.Nitka.Web/bin/

Danishevskii.Nitka.Web/node_modules/
packages/

